*, *::after, *::before {
    margin: 0;
    padding: 0;
}
body {
    overflow-y: auto;
    overflow-x: hidden;
}
.container {
    display: flex;
    justify-content: center;
    width: fit-content;
    flex-direction: column;  
    margin: auto;
    padding-top: 240px;
}
.mcdates {
    margin-bottom: 24px;
}